
- if current_user
  %h1 Your Awards
  %ul.button-list
    - current_user.awards.each do |award|
      %li
        %span.com_btn= award.name

  %br.clear
  %br.clear
  %br.clear
  %h2 Claim an award
  
  %ul.button-list
    - current_user.unachieved_awards.each do |award|
      %li
        = button_to award.name, user_award_path(current_user, award), :method => :put, :confirm => "Aside award '#{award.name}' to yourself?", :class => "com_btn"
  
- else
  %h1 Club Awards
  %p
    To trick our members into participating, we give away cool awards.

%br.clear
%br.clear
%h2 Current members

%ul.current-members
  - @members.each do |user|
    %li{:class => (user == current_user ? 'current-user' : 'other-user')}
      - image = user_image(user)
      = image_tag image, :class => "user-image"
      = user.name
    