
- if current_user
  %h1 Your Awards
  %ul
    - current_user.awards.each do |award|
      %li= award.name

  %p Have you been granted new awards? Click it below!
  
  %ul
    - current_user.unachieved_awards.each do |award|
      %li
        = button_to award.name, user_award_path(current_user, award), :method => :put, :confirm => "Aside award '#{award.name}' to yourself?"
  
  %p TODO - form to create/assign awards to self. In development, in the console, try:
  %pre
    - preserve do
      award = Award.find_or_create_by_name("First meeting")
      == User.find(#{current_user.id}).award_users.create(:award => award)

- else
  %h1 Club Awards
  %p
    To trick our members into participating, we give away cool awards.

%h2 Current members

%ul.current-members
  - @members.each do |user|
    %li{:class => (user == current_user ? 'current-user' : 'other-user')}
      = image_tag user.image_url, :class => "user-image"
      = user.name
    