<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <title>SV Ruby Club Awards</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ninja-admin.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
  <%= javascript_include_tag :all %>
  <%= yield(:head) %>
</head>

<body>

	<div class="wrapper">
	
		<h1 class="logo">SV Ruby Club Awards</h1>
		<p class="txt_right"><%= render :partial => 'layouts/login' %></p>
	
	<!-- Navigation -->
	
		<div class="navigation">
		  <nav>
				<ul><%= render :partial => 'layouts/menu' %></ul>
			</nav>
			
			<div id="searchform"><%= render :partial => 'layouts/search' %></div>
		</div>
		
		<div class="clear"></div>
	
	
		<div class="content">
      <% flash.each do |name, msg| %>
        <div class="check"><div class="<%= name %>">
          <img src="images/<%= name %>.gif" alt="check" class="icon">
          <%= msg %>
        </div></div>
      <% end %>
      
		  <%= yield %>
		</div>
		
		
		<p class="footer"></p>
		
		
	</div>
</body>
</html>
